<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="US-ASCII"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>SeniorDesign</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css"></link>
<link rel="stylesheet" type="text/css" href="css/default.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/signup.js"></script>
<!--<script src="js/login.js"></script>-->
</head>


<body>

<div class="jumbotron">
  <h1>SENIOR DESIGN:</h1>
  <p>Object Location Device</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

	
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
  		<h1> Sign Up </h1>
  		<br></br>
  		<form id="signup-form">
	  		<input type="text" id="firstName" class="form-control" placeholder="First Name" required="autofocus"></input>
	  		<br></br>
	  		<input type="text" id="lastName" class="form-control" placeholder="Last Name" required="autofocus"></input>
	  		<br></br>
	  		<input type="email" id="email" class="form-control" placeholder="Email address" required="autofocus"></input>
	  		<br></br>
	  		<input type="text" id="phoneNumber" class="form-control" placeholder="Phone Number" required="autofocus"></input>
	  		<br></br>
	  		<input type="password" id="password" class="form-control" placeholder="Desired Password" required="autofocus"></input>
			<br></br>
			<input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required="autofocus"></input>
			<br></br>
	        <button id="signUp" class="btn btn-lg btn-priority btn-block" onclick="signup()" type="submit">Sign Up!</button>
	        <br></br>
		</form>
  </div>
  
  <div class="col-md-1"></div>
  
  <div class="col-md-4">
		<form id="login-form" action="login" method="POST">
  		<h1> Login </h1>
  		<br></br>
        	<input id="loginName" name="loginName" type="email" class="form-control" placeholder="Email address" required= "autofocus"></input>
        	<br></br>
        	<input id="loginPassword" name="loginPassword" type="password" class="form-control" placeholder="Password" required= "autofocus"></input>
        	<br></br>
        	<input type="checkbox" value="remember-me"> Remember me</input>
        	<br></br>
        	<button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
		</form>
	</div> 
	
	<div class="col-md-1"></div>
</div>

</body>


</html>







	