*.pdb
*.InstallLog
*.suo
/WindowsServiceTracker/WindowsServiceTracker/bin/Debug
/WindowsServiceTracker/WindowsServiceTracker/obj/Debug
/WindowsServiceTracker/WTKL/bin/Debug
/WindowsServiceTracker/WTKL/obj/Debug
/WindowsServiceTracker/KeyloggerCommunications/bin/Debug
/WindowsServiceTracker/KeyloggerCommunications/obj/Debug
keylogTEST.txt
/bin
*.tmp
documentation/cycle 1/~$olen Object Tracker - Cycle 1 report.docx
gosotserver/src/server/server.exe
