*.pdb
*.exe
*.InstallLog
*.suo
/WindowsServiceTracker/WindowsServiceTracker/bin
/WindowsServiceTracker/WindowsServiceTracker/obj
/WindowsServiceTracker/WTKL/bin
/WindowsServiceTracker/WTKL/obj
/WindowsServiceTracker/KeyloggerCommunications/bin
/WindowsServiceTracker/KeyloggerCommunications/obj
keylogTEST.txt
/bin
