<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

    <title>Senior Design</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet"></link>
	<link type="text/css" rel="stylesheet" href="css/default.css"/>
	<script type="text/javascript" src="js/map.js"></script>
	<script type="text/javascript" src="js/denney.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"></link>
	<link rel="stylesheet" type="text/css" href="css/default.css"></link>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.gstatic.com/intl/en_us/mapfiles/api-3/15/9/main.js"></script>
    <link href="css/sb-admin.css" rel="stylesheet"></link>
</head>

<body>

    <div id="wrapper">
		<!-- Header -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Senior Design Admin</a>
            </div> <!-- /header -->
            <!-- Login Dropdown on NavBar -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="login.xhtml"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </ul> <!-- /.dropdown-user -->
                </li> <!-- /.dropdown -->
            </ul> <!-- /.navbar-top-links -->
        </nav> <!-- /.navbar-static-top -->
		
		<!-- Side Menu Items -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li><a href="homeAdmin"><i class="fa fa-dashboard fa-fw"></i> Statistics</a></li>
                    <li><a href="mapAdmin"><i class="fa fa-dashboard fa-fw"></i> Map of Devices<span class="fa arrow"></span></a></li>
                    <li><a href="devices"><i class="fa fa-table fa-fw"></i> Devices</a></li>
                    <li><a href="users"><i class="fa fa-edit fa-fw"></i> Users</a></li>
                </ul> <!-- /#side-menu -->
            </div> <!-- /.sidebar-collapse -->
        </nav> <!-- /.navbar-static-side -->

		<!-- MAPS -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Map of Devices</h1>
                	<f:view contentType="text/html">
	            		<h:form id="map">
		         			<m:map width="910" height="500">
								<m:marker>
		          		  			<m:htmlInformationWindow htmlText="DeviceName" />
		            			</m:marker>
		       				</m:map>
	       				</h:form>
					</f:view>
                </div> <!-- /.col-lg-12 -->
            </div> <!-- /.row -->
        </div> <!-- /#page-wrapper -->
    </div><!-- /#wrapper -->		

	</body>
</html>
